<!DOCTYPE html>
{% load plotly_dash %}
<html>
  <head>
    <title>Academics</title>
    <link rel="stylesheet" type="text/css" href="/visuals/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="visuals/static/collapse.js"></script>    
  </head>
  <body>
    <div style="width:60vw; float:left;">
      <div class = "box collapsed">
	<div class="visual">
	  <h2 style='display:inline-block;'>Usefulness of on-campus resources</h2>
	  <div style='float:right; display:inline-block;margin-top:15px;'>
		<a href='/visualizations/app/q5_viz' class='explore'>Explore the Data</a>
	</div>
	  {%plotly_app name='q5_static' ratio=1 %}
	</div>

	<div class="expandbar" style="text-align:center;">
	  <span style="font-size:30px;">&#x2304</span>
	</div>
	<fade/>
      </div>
      
      <div class = "box collapsed">
	<div class="visual">
	  <h2 style='display:inline-block;'>Compared to other CS concentrators, I feel...</h2>
	  <div style='float:right; display:inline-block;margin-top:15px;'>
		<a href='/visualizations/app/q7_viz' class='explore'>Explore the Data</a>
	</div>
	  {%plotly_app name='q7_static' ratio=1 %} 
	</div>
	
	<div class="expandbar" style="text-align:center;">
	  <span style="font-size:30px;">&#x2304</span>
	</div>
	<fade/>
      </div>
      
      <div class = "box collapsed">
	<div class="visual">
	  <h2 style='display:inline-block;'>Approaching faculty members</h2>
	  <div style='float:right; display:inline-block;margin-top:15px;'>
		<a href='/visualizations/app/q10_viz' class='explore'>Explore the Data</a>
	</div>
	  {%plotly_app name='q10_static' ratio=1 %} 
	</div>
	
	<div class="expandbar" style="text-align:center;">
	  <span style="font-size:30px;">&#x2304</span>
	</div>
	<fade/>
      </div>
      
      <div class = "longbox collapsed">
	<div class="visual">
	  <h2 style='display:inline-block;'>I have taken the following CS courses ... </h2>
	  <div style='float:right; display:inline-block;margin-top:15px;'>
		<a href='/visualizations/app/q12_viz' class='explore'>Explore the Data</a>
	</div>
	  {%plotly_app name='q12_static' ratio=1 %} 
	</div>
	
	<div class="expandbar" style="text-align:center;">
	  <span style="font-size:30px;">&#x2304</span>
	</div>
	<fade/>
      </div>
    </div>

    <div style="width:20%; float:right; position: relative;">
      <div class="topics" style="text-align:center;">
	<div class="navbar"><a href="/" class="nav"> Introduction</a></div>
	<div class="navbar"><a href="/Methodology" class="nav"> Methodology</a></div>
	<div class="navbar"><a href="/Background" class="nav"> Background</a></div>
	<div class="navbar" style="background:rgba(200,200,200,0.8);">Academics</div>
	<div class="navbar"><a href="/PostGrad" class="nav"> Post Graduation</a></div>
	<div class="navbar"><a href="/Discrimination" class="nav"> Discrimination</a></div>
	<div class="navbar"><a href="/Belonging" class="nav"> Belonging</a></div>
	<div class="navbar" style="border-radius:0px 0px 15px 15px;"><a href="/Conclusion" class="nav"> Conclusion</a></div>
      </div>

      <div class="description">
	<p style="padding:10px;">
		Academics are central to the CS experience at Harvard. The following section examines students’ experiences within the classroom, as influenced by course resources, staff support, and student networks.
	</p>
      </div>
      
    </div>
  </body>
</html>
