<!DOCTYPE html>
{% load plotly_dash %}
<html>
  <head>
    <title>Conclusion</title>
    <link rel="stylesheet" type="text/css" href="/visuals/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="visuals/static/collapse.js"></script>    
  </head>
  <body>
    <div class="leftcontainer">
      <div class = "box collapsed">
	<h2>In conclusion...</h2>
	We are GREAT and AMAZING. Thank you for reading!!!!!!!!!!
      </div>
    </div>

    <div class="rightcontainer">
      <div class="topics" style="text-align:center;">
	<div class="navbar"><a href="/" class="nav"> Introduction</a></div>
	<div class="navbar"><a href="/Methodology" class="nav"> Methodology</a></div>
	<div class="navbar"><a href="/Background" class="nav"> Background</a></div>
	<div class="navbar"><a href="/Academics" class="nav"> Academics</a></div>
	<div class="navbar"><a href="/PostGrad" class="nav"> Post Graduation</a></div>
	<div class="navbar"><a href="/Discrimination" class="nav"> Discrimination</a></div>
	<div class="navbar"><a href="/Belonging" class="nav"> Belonging</a></div>
	<div class="navbar" style="border-radius:0px 0px 15px 15px; background:rgba(200,200,200,0.8);">Conclusion</div>
      </div>

    </div>
  </body>
</html>
