<!DOCTYPE html>
{% load plotly_dash %}
<html>
  <head>
    <title>Discrimination</title>
    
    <link rel="stylesheet" type="text/css" href="/visuals/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="visuals/static/collapse.js"></script>    
  </head>
  <body>
    <div class="leftcontainer">
      <div class = "box collapsed">
	<div class="visual">
    <h2 style='display:inline-block; font-family: Arial'>I have experienced discrimination ...</h2>
    <div style='float:right; display:inline-block;margin-top:15px;'>
			  <a href='/visualizations/app/q22_viz' class='explore'>Explore the Data</a>
	  </div>
	  {%plotly_app name='q22_static' ratio=1 %} 
	</div>
	
	<div class="expandbar" style="text-align:center;">
	  <span style="font-size:30px;">&#x2304</span>
	</div>
	<fade/>
      </div>
      
      <div class = "box collapsed">
	<div class="visual">
    <h2 style='display:inline-block; font-family: Arial'>I have noticed discrimination...</h2>
    <div style='float:right; display:inline-block;margin-top:15px;'>
      <a href='/visualizations/app/q23_viz' class='explore'>Explore the Data</a>
  </div>
	  {%plotly_app name='q23_static' ratio=1 %} 
	</div>
	
	<div class="expandbar" style="text-align:center;">
	  <span style="font-size:30px;">&#x2304</span>
	</div>
	<fade/>
      </div>
      
    </div>

    <div class="rightcontainer">
      <div class="topics" style="text-align:center;">
	<div class="navbar"><a href="/" class="nav"> Introduction</a></div>
	<div class="navbar"><a href="/Methodology" class="nav"> Methodology</a></div>
	<div class="navbar"><a href="/Background" class="nav"> Background</a></div>
	<div class="navbar"><a href="/Academics" class="nav"> Academics</a></div>
	<div class="navbar"><a href="/PostGrad" class="nav"> Post Graduation</a></div>
	<div class="navbar" style="background:rgba(200,200,200,0.8); font-family: Arial">Discrimination</div>
	<div class="navbar"><a href="/Belonging" class="nav"> Belonging</a></div>
	<div class="navbar" style="border-radius:0px 0px 15px 15px;"><a href="/Conclusion" class="nav"> Conclusion</a></div>
      </div>

      <div class="description">
	<p style="padding:10px; font-family: Arial; font-size: 14pt">
	  A student’s experience at Harvard is greatly dependent on the support of their concentration department, and whether or not a student experiences discrimination can greatly affect their decision to pursue that field. 

	</p>
      </div>
      
    </div>
  </body>
</html>
